.main-banner {
    position: relative;
    overflow: hidden;
    margin-bottom: -7px;
}

#bg-video {
    min-width: 100%;
    min-height: 90vh;
    max-width: 100%;
    max-height: 90vh;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.video-overlay img {
    width: 580px;
}

.main-banner .caption {
    margin-top: 2rem;
}

.uk-dropdown-na .align-grid {
    display: grid !important;
    gap: 10px;
}