.main-banner {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: -7px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.main-banner .caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.detail-box {
    background: var(--red-light);
    position: relative;
    padding: 9px;
    border-radius: 10px 10px 0 0;
    margin: 0 4rem;
}

.box-header {
    background: var(--red);
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    margin: 0 2rem;
    box-shadow: 3px 6px 15px 4px rgba(0,0,0,0.1);
}

.box-header h4 {
    color: white !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 !important;
}

.box-header i {
    font-size: 2.1rem;
    position: relative;
    top: 8px;
}