@import "color.css";
@import "header.css";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Kumbh Sans', 'Abel', sans-serif; 
}

nav {
    background: rgba(0,0,0,0.5);
    align-items: center;
}