@import "colors.css";
@import "header.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prosto One', cursive !important;
}

nav {
    height: 70px;
}

nav li {
    transition: all .3s ease;
}

nav li:hover {
    transform:  scaleX(1);
    border-bottom: 5px solid var(--red);
}


.uk-navbar-nav>li>a {
    color: #999;
    font-family: 'Prosto One', cursive !important;
    letter-spacing: 1px;
}

.section-info {
    background: var(--red);
    color: white;
    margin: 4rem 0 0;
    padding: 2rem 2rem 6rem;
    border-radius: 2rem;
}

/***** *****/
.box-diferenciais {
    box-shadow: 0px -34px 0px -14px var(--red-light),
    0px 39px 0px -21px var(--red-light),
    1px 0px 205px 11px rgba(0,0,0,0.22);;
    background: var(--gray);
    padding: 2rem;
    position: relative;
    top: -2rem;
}

.card-number {
    background: var(--red);
    box-shadow: 0px -34px 0px -14px var(--red-light), 0px 15px 28px 0px rgba(0,0,0,0.22);
    color: white;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.card-number h3 {
    color: white !important;
}

.card-depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 1rem 3rem;
    padding: 1rem;
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
}

.text-depoimento {
    line-height: 1.5px;
    color: var(--red);
}

.photo-container {
    width: 350px;
    height: 150px;
    border-radius: 50%;
    outline: 6px solid var(--red);
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.uk-dotnav>.uk-active>* {
    background-color: var(--red) !important;
}

.uk-slidenav {
    background: var(--red) !important;
    border-radius: 5rem !important;
    color: white !important;
}